.mixin.out
backups
libraries
local
mods
world
nucleus/worlddata
nucleus/userdata
luckperms/lib
luckperms/luckperms-h2.mv.db
config/economylite/data.trace.db
config/economylite/data.mv.db
config/plan/GeoIP.dat
config/plan/h2database.mv.db
config/sponge/*

./*.jar
./*.json
./*.properties
./*.txt
./start

